	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/07/2020 20:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype");
       
  font-weight: normal;
  font-style: normal;
}



[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-consulting:before { content: "\f100"; }
.flaticon-investment:before { content: "\f101"; }
.flaticon-quotation:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-certificate:before { content: "\f104"; }
.flaticon-career:before { content: "\f105"; }
.flaticon-shopping-cart:before { content: "\f106"; }
.flaticon-route:before { content: "\f107"; }
.flaticon-online-education:before { content: "\f108"; }
.flaticon-meeting:before { content: "\f109"; }
.flaticon-online-class:before { content: "\f10a"; }
.flaticon-expert:before { content: "\f10b"; }
.flaticon-certificate-1:before { content: "\f10c"; }
.flaticon-instructor:before { content: "\f10d"; }
.flaticon-instructor-1:before { content: "\f10e"; }
.flaticon-online:before { content: "\f10f"; }
.flaticon-skills:before { content: "\f110"; }
.flaticon-play-button:before { content: "\f111"; }
.flaticon-loupe:before { content: "\f112"; }
.flaticon-magnifying-glass:before { content: "\f113"; }
.flaticon-loupe-1:before { content: "\f114"; }
.flaticon-cancel:before { content: "\f115"; }
.flaticon-balance:before { content: "\f116"; }
.flaticon-pin:before { content: "\f117"; }
.flaticon-call:before { content: "\f118"; }
.flaticon-email:before { content: "\f119"; }
.flaticon-left-arrow:before { content: "\f11a"; }
.flaticon-right-arrow:before { content: "\f11b"; }