@font-face {
  font-family: 'iranSans';
  font-style: normal;
  src: url('./assets/fonts/IRANSansWeb\(FaNum\).eot');
  src: local('iranSans') , local('iranSans'),
  url('./assets/fonts/IRANSans.ttf') format('ttf') ,
  url('./assets/fonts/IRANSansWeb\(FaNum\).woff') format('woff')
}


body {
  margin: 0;
  font-family:'iranSans'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
 font-family:'iranSans';
}
